<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ori Willensky</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style-index.css">
    <script src="../static/scripts/script.js" ></script>
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-container">
            <div class="top-bar-section logo">
                <img src="../static/Icon.png" alt="Ori Willensky" height="80px" width="80px"/>
            </div>
            <div class="top-bar-section description">
                <h6>Hi! My name is Ori, feel free to use any of this art for your projects, ttrpg games, and any other use you want.</h6>
                <h6> If you did, please consider supporting me in the links here.</h6>
            </div>
            <div class="top-bar-section links">
                <a href="https://www.instagram.com/oriwillensky/">Instagram</a>
                <a href="https://www.artstation.com/ori_willensky">Artstation</a>
                <a href="https://artistree.io/oriwill">Artistree</a>
                <a href="https://www.patreon.com/Oriwillart">Patreon</a>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="sidebar">
            <a href="/" class="active">Welcome</a>
            <a href="/portraits">Portraits</a>
            <a href="/maps">Maps</a>
            <a href="/misc">Miscellaneous</a>
        </div>
        <div class="main-content">
            <h1>Welcome!</h1>
            <p>Welcome to my site! In here you will find art I have made throughout the years, which I now give away to be used freely in any way you may choose as long as you credit me. If you find the art here helpful please consider joining my patreon or share this site with other people. 

                For any inquiries you can contact me here:
                ori.imw@gmail.com
                
                or at any of my social accounts
            </p>
        </div>
    </div>
</body>
</html>
